
{% layout 'custom' %}


<div id="checkout-wrapper">

  <p>{{yes}}</p>

 不显示 {{yes}}

 <button v-if @click="click">click</button>
</div>



<script>

  const Checkout = {
    data() {
      return {
        yes: '呵呵',

      }
    },
    methods: {
      click(){
        console.log(11)


        this.yes++
        console.log(JSON.stringify(this.yes))

      }
    },
    components: {
    }
  }

  Vue.createApp(Checkout).mount('#checkout-wrapper')

</script>
